body{
    display: flex;
    flex-flow: row wrap;
    font-family: sans-serif;
}

header{
    flex: 1 100%;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    background: #37ABFF;
    height: 10%;
}

header > div{
    color: #FFFFFF; 
    padding: 10px;    
}

.header__freespace{
    flex-grow: 1;
}

footer{
    flex: 1 100%;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    background: #3C3C3C;
    height: 5%;
}

footer > div{
    color: #FFFFFF; 
    padding: 10px;
}

.footer__freespace{
    flex-grow: 1;
}

aside{
    flex: 1 30%;
    background: #EDEDED;
}

main{
    flex: 3 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

aside > ul> li {
    list-style-type: none;
    padding: 20px;
}

aside > ul > li:hover{
    background: #DCDCDC;;
}

ul {
    margin-left: 0;
    padding-left: 0;
   }

.lecture-card{
    border: 2px solid #F3F3F3;
    margin: 20px;
    flex: none 20%;
    width: 150px;
    height: 250px;
    border-radius: 10px;
}

.lecture-card__image{
    list-style-type: none;
    height: 70px;
    border-radius: 10px 10px 0px 0px;
    background-image: url('../images/intro.png');
}

.lecture-card__description{
    list-style-type: none;
    height: 150px;
    margin: 5px;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.lecture-card__button{
    list-style-type: none;
    height: 30px;
    background: #DCDCDC;
    border-radius: 0px 0px 10px 10px;
    color: #464646;
    padding: 5px;
    text-align: center;
}

.lecture-card__name{
    font-weight: bold;
    font-size: 125%;
}

.lecture-card__date{
    font-size: 75%;
    color: #ABABAB;
}

