body {
    font-size: 18px;
    text-align: center;
    font-family: Tahoma, arial, Georgia,  Serif;
    width: 100%;
}

.p{
    font-size: 1rem;
}

.logo{
    height: 30px;
    align-content: center; 
    margin-right: 10px; 
}

header:hover img {
    outline: 5px solid  red;
    cursor: pointer;
    position: relative;
}

.title{
    font-size: 2.5rem;
    text-transform: uppercase;
}

.line{
    border-top:  solid black;
    width: 100px;
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 10px;
}

.ava{
    width: 170px; 
    height: 170px; 
    object-fit: cover; 
    border-radius: 50%;
    display: inline-block;
}

.name{
    margin-top: 5px;
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.additionalInfo{
    font-size: 0.75rem;
    color: grey;
    margin-top: 0;
}

.student, .teacher {
    width: 200px;
    height: 250px;
    display: inline-block;
    margin: 0.2rem;
}

.people {
    max-width: 50%;
    margin: 30 auto;
}

.info{
    max-width: 50%;
    margin: 30 auto;
}

.card{
    width: 450px;
    height: 250px;
    background-color: #DCDCDC;
    border: 2px solid #D3D3D3;
    display: flex;
    flex-direction: row;

     /*позиционируем и центрируем*/
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.cardInfo{
    flex: 1 1 60%;
    margin: auto;
}

.cardAva{
    flex: 1 1 40%;
    margin: auto;
    margin-right: 10px;
}

.close{
    width: 20px;
    height: 20px;;
    position: absolute;
    left: 430px;
    display: inline-block;
    background-color: #C0C0C0;
}

.close:before, .close:after {
    position: absolute;
    left: 10px;
    content: ' ';
    height: 20px;
    width: 2px;
    background-color: #333;
}
.close:before {
    transform: rotate(45deg);
}
.close:after {
    transform: rotate(-45deg);
}
